<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Auction</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/general.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">



    <!-- Favicons -->
    <link href="../assets/img/favicon.png" rel="icon">
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


    <!-- Template Main CSS File -->
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/style1.css" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <style>
        .alert {
            padding: 20px;
            background-color: #04AA6D;
            color: white;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .closebtn:hover {
            color: black;
        }
    </style>
</head>
<body>

<!-- ======= Header ======= -->
<th:block >
    <div th:replace="/header :: 'header'"></div>
</th:block>


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center" style="height: 30vh;">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h1>Auction List</h1>
            </div>
        </div>
    </div>

</section>
<!-- End Hero -->


<div class="container margin-tb" th:fragment="list-auction">


    <div class="d-flex justify-content-between mt-3 mb-5">
        <h1 th:inline="text" style="text-transform: capitalize">Welcome <span th:utext="${loggedInUser.name}"></span></h1>
        <a  th:if="${loggedInUser.role == 'ADMIN'}" role="button" class="btn btn-primary" style="font-size:1.3rem" type="button"  onclick="show()">
            Add/Edit Auction <i id="angle" class='fas fa-angle-down'></i>
        </a>
    </div>

    <th:block>
        <div th:replace="auction/add :: 'add'"></div>
    </th:block>

    <div id="isEdit" style="display: none" th:utext="${isEdit}"></div>
<!--    <th:block th:if="${isEdit != null}">-->
<!--        <div th:replace="auction/edit :: 'edit'"></div>-->
<!--    </th:block>-->

    <div th:if="${successMessage != null}" class="alert">
        <span class="closebtn"  onclick="this.parentElement.style.display='none';" >&times;</span>
        <strong th:utext="${successMessage}"></strong>
    </div>


    <h1 style="text-align: center;" class="margin-tb">Available Auctions</h1>
    <table class="table">
        <tr>
            <th>Nr.</th>
            <th>Parts Name</th>
            <th>Target Price Per Parts</th>
            <th>Number of Parts</th>
            <th>Expiration Date</th>
            <th>Currency</th>
            <th>Status</th>
            <th>Number of offers</th>
            <th>Actions</th>
        </tr>
        <tr th:each="auction: ${auctions}" th:style="${auction.status == 'CLOSED'}?'background-color:#ff8c9c':''">
            <td th:text="${auctionStat.index+1}+'.'">index</td>
            <td th:text="${auction.parts.name}">partsName</td>
            <td th:text="${auction.targetPricePerParts}">targetPricePerParts</td>
            <td th:text="${auction.numberOfParts}">numberOfParts</td>
            <td th:text="${auction.expirationDate}">expirationDate</td>
            <td th:text="${auction.currency}">currency</td>
            <td th:text="${auction.status}">status</td>
            <td th:text="${auction.offers != null}?${auction.offers.size}:0">numberOfOffers</td>
            <td>
                <button class="btn btn-primary" th:disabled="${auction.status == 'CLOSED'}?true:false" style="padding:0;">
                    <a th:href="@{/offer(auctionid=${auction.id})}" style="text-decoration: none;color: inherit;padding: .375rem .75rem;display: block;">
                        Add Offer
                    </a>
                </button>

                <button class="btn btn-info" style="padding:0">
                    <a  th:href="@{/auction/{id}(id=${auction.id})}" style="text-decoration: none;color: inherit;padding: .375rem .75rem;display: block;">
                        Details
                    </a>
                </button>

                <button th:if="${loggedInUser.role == 'ADMIN'}" class="btn btn-success" th:disabled="${auction.status == 'CLOSED'}?true:false" style="padding:0">
                    <a  th:href="@{/auction/{id}(id=${auction.id}, edit='true')}" style="text-decoration: none;color: inherit;padding: .375rem .75rem;display: block;">
                        Edit
                    </a>
                </button>

                <form th:if="${loggedInUser.role == 'ADMIN'}" sec:authorize="hasAuthority('ADMIN')" th:action="@{/auction/{id}(id=${auction.id}, delete='true')}"
                      method="post" style="display: inline">
                    <button class="btn btn-danger" type="submit">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    </table>
</div>
<th:block >
    <div th:replace="/footer :: 'footer'"></div>
</th:block>

<script>
    $(function () {
        $('#datetimepicker').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    });
    let add = true;
    let isEdit = document.getElementById("isEdit").innerText;

    if(isEdit){
        auction.style.display='block';
        document.getElementById('angle').classList.toggle('fa-angle-up');
        add=false;
    }

    function show() {
        document.getElementById('angle').classList.toggle('fa-angle-up');
        if (add) {
            auction.style.display='block';
            add=false;
        } else{
            auction.style.display='none';
            add=true;
        }
    }
</script>
<!-- Vendor JS Files -->
<script src="../assets/vendor/aos/aos.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="../assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="../assets/js/main.js"></script>

</body>
</html>